/* DASHBOARD
----------------------------------- */

.dashboard .container {
	min-height: 80vh;
}

.dashboard .heading h1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.dashboard .logo {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	max-width: 200px;
	background-color: #CCCCCCFF;
	overflow: hidden;
}

.dashboard .logo img {
	width: 110%;
}

.edit-logo {
	position: absolute;
	right: 0px;
	z-index: 2;
	color: #7F7F7FFF;
	opacity: 0.8s;
	border: none;
	border-radius: initial;
	width: 20px;
	height: 20px;
	padding: initial;
}

.edit-logo:hover {
	opacity: 1;
}

#id_update_logo form {
	width: 500px;
}

#id_update_logo form .img_container {
	height: 300px;
}




/* ACCOUNT VIEW
----------------------------------- */

.user-info {
	text-align: center;
	font-size: 1.5rem;
}

.user-info>.row {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	padding-top: 2rem;
	margin-bottom: 2rem;
}

.user-info .row>div {
	text-align: initial;
}

.user-info label {
	font-weight: 100;
}

.user-info .name {
	font-weight: 600;
	font-size: 2rem;
}






/* EVENT-LANDING 
-------------------------------- */

.main-event {
	background-color: #40BE98FF;
	height: 400px;
}

.event {
	margin-bottom: 20px;
}

.event-img {
	overflow: hidden;
	min-height: 200px;
}

.event-img img {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

.event .date {
	padding-top: 10px;
	font-size: 1rem;
	text-align: right;
	display: block;
}






/* EVENTS 
----------------------------------- */

.my-tbl {
	height: 400px;
	max-height: 400px;
	overflow-y: auto;
	width: 100%;
}






/* events form */

.events-form .form-check-input {
	position: relative;
	margin-left: 10px;
}

.events-form .form-group.address {
	margin-top: 10px;
	margin-bottom: 10px;
}

.events-form .form-group.address .form-check.row {

	margin-bottom: 10px;
}

.events-form .img_container {
	height: 360px;
}






/* venue form */

#venue-form {
	margin: auto;
	margin-top: 10px;
}

.img_container {
	position: relative;
	height: 150px;
	width: 100%;
	background-color: #E8E8E8FF;
	margin-top: 10px;
	overflow: hidden;
}

.img_container img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	/*width: 80%;*/
	/*height: 100%;*/
	top: 50%;
	transform: translateY(-50%);
}

.btn-upload-venue-img {
	position: absolute;
	top: 0;
	right: 0px;
}


#venue-form .btn-upload-venue-img .btn {
	width: 35px;
	height: 35px;
	padding: 0;
	margin: 0;
}






/* COURSE-LANDING 
---------------------------------- */

.course-category {
	text-align: center;
	color: white;
	background-color: #4AA7B4FF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 15px;
}

.course {
	position: relative;
}

.course h3 {
	padding-top: 25px;
	text-align: center;
}

.course h3+hr {
	margin-top: 0px;
}






/* alternating courses */


/*
.categ-courses .course:nth-child(even) h3{
	text-align: right;
}

.categ-courses .course:nth-child(even) .course-desc {
	float: right;
	padding-left: 15%;
	padding-right: 10px;
	background: linear-gradient( -90deg,
	rgba(255, 255, 255, 1),
	rgba(255, 255, 255, .75) 82%,
	rgba(255, 255, 255, 0.0));
}
*/

.course-desc {
	width: 68%;
	text-indent: 4rem;
	text-align: justify;
	min-height: 300px;
	max-height: 600px;
	overflow-y: hidden;
	padding: 10px;
	padding-right: 5%;
	/*padding-right: 15%;*/
	background: linear-gradient( 90deg,
	rgba(255, 255, 255, 1),
	rgba(255, 255, 255, .75) 20%,
	rgba(255, 255, 255, .75) 90%,
	rgba(255, 255, 255, 0.0));
	color: #1E1E1EFF;
}

.course-desc:hover {
	overflow-y: auto;
}


.course-desc p {
	margin-bottom: 0px;
	font-size: 1.2rem;
	letter-spacing: 2px;
}


.course-img {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}









/* COURSE 
----------------------------------------- */

div.select-course {
	text-align: left;
	width: 80%;
	font-size: 0.9rem;
}

div.courses form .form-check label {
	font-size: 0.9rem;
	color: #262626FF;
	min-height: 30px;
}

div.courses form .img_container {
	height: 400px;
	margin-top: initial;
}

div.courses form .course-add-img {
	position: absolute;
	top: 0px;
	right: 0px;
}



div.select-course label input[type="radio"],
div.select-course label input[type="checkbox"] {
	transform: scale(1.2);
	height: initial;
}

div.select-course .row {
	max-height: 360px;
	overflow-y: auto;
	margin-bottom: 20px;
	padding: 10px;
}

#id_prereq.select-course {
	width: 95%;
}

.courses form .align-right {
	margin-top: 10px;
}


.courses .card .card-text {
	position: relative;
	height: 10em;
	max-height: 10em;
	overflow: hidden;
	width: 100%;
	padding: 20px;

	background: linear-gradient( to bottom,
	rgba(90, 90, 90, .75),
	rgba(90, 90, 90, .75));
	color: white;
}

.courses .card .card-text:hover {
	overflow-y: auto;
}

.courses .card .card-text p {
	letter-spacing: 2px;
	font-size: 1rem;
}

.courses .card-deck .card-footer {
	position: relative;
	margin-top: 1rem;
	bottom: 0px;
	width: 100%;
	background-color: initial;
}

.card-deck .card-header {
	margin-bottom: 15px;
	text-align: left;
	padding: 0.5rem 0.5rem;
}







/* MEMBERSHIP FORM 
---------------------------------- */

.membership-form {
	text-align: center;
}

.membership-form .row div {
	margin-right: auto;
	margin-left: auto;
}

.userCredential {
	max-width: 500px;
}






/* ACCOUNT MANAGEMENT
-------------------------------------- */

.manage-account h4 {
	padding-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.manage-account .tbl-member {
	height: 400px;
	max-height: 400px;
	overflow-y: auto;
	width: 100%;
}

.manage-account .tbl-member .table-hover td {
	font-size: 0.8rem;
	vertical-align: middle;
}

.manage-account .tbl-member .table-hover .btn {
	padding: 0.6rem
}


.img-profile-pic {
	height: inherit;
	width: 100px;
}













/* ACCOUNT LOGIN 
------------------------------------------ */

.login-input {
	text-align: center;
}

.login-input form {
	position: relative;
	top: 80px;
	background-color: white;
	display: inline-block;
	text-align: left;
	padding: 1rem;
	margin: 20px;
	width: 50%;
	min-width: 270px;
	-webkit-filter: drop-shadow(0px 0px 5px #555);
	filter: drop-shadow(0px 0px 5px #555);
}













/* HOME-LANDING 
---------------------------------------------- */

.home.page-body {
	/*#D8EDE5FF 20%,	*/
	background: linear-gradient( to bottom,
	#FFFFFFFF 20%,
	#FFFFFFFF 25%,
	#FFFFFFFF);
}

.home section h3 {
	text-align: center;
	background-color: #4AA7B4FF;
	padding: 0.5rem 0;
	color: white;
}

.home section:not(:first-child) {
	margin-top: 3rem;
	margin-bottom: : 2rem;
}

ul.whats-bisd {
	display: inline-block;
}

.home .upcoming-events h3 {
	font-weight: 500;
	font-size: 1.5rem;
	padding: 0.75rem 0;
}

.upcoming-events .list {
	height: 500px;
	/*overflow-y: hidden;*/
	overflow-y: auto;
}






/*.upcoming-events .list:hover {
	overflow-y: auto;
}*/

.upcoming-events .img_container {
	height: 200px;
}

.upcoming-events .img_container img {
	display: block;
	margin: 0 auto;
}

.upcoming-events .card {
	margin-bottom: 20px;
	font-size: 0.8rem;
}

.upcoming-events .card>*:not(.img_container) {
	padding-left: 1rem;
	padding-right: 1rem;
}

.upcoming-events .card h5 {
	padding-top: 10px;
	font-size: 1rem;
	text-align: center;
}

.upcoming-events .card p {
	text-indent: 20px;
	text-align: justify;
}

.home blockquote {
	border-top: 1px solid #C6C6C6E0;
	border-bottom: 1px solid #C6C6C6E0;
	padding: 1.5rem 0;
	text-align: center;
}

.home .quote {
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: 500;
}

.h-benitez-img {
	-webkit-filter: grayscale(50%) drop-shadow(5px 4px 10px gray);
	filter: grayscale(80%) drop-shadow(5px 4px 10px gray);
}

.h-benitez-img+p {
	margin-top: 1.2rem;
	font-style: initial;
	font-family: inherit;
}

.learningCenter-ph {
	text-align: center;
}

.learningCenter-ph h3 {
	text-align: initial;
}













/* ====================================== */

.mngmnt-heading {
	font-size: 2rem;
	color: white;
	padding: 10px;
	padding-left: 20px;
	font-weight: 800;
	background-color: #2388DBFF;
	text-align: left;
}

.pb-before-footer {
	padding-bottom: 100px;
}

.vcenter {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.small-logo {
	/*width: 5rem;*/
	margin-right: 5px;
	max-width: 100%;
	max-height: 100%;
}


.round-img {
	--img-height: 100vh;
	border-radius: var(--img-height);
}

.responsive-img {
	width: 100%;
}

.page-body {
	/*rgba(52, 183, 202, 1) 25%,*/
	min-height: 80vh;

	background: linear-gradient( to bottom,
	rgba(52, 183, 202, 1),
	#FFFFFFFF,
	#FFFFFFFF,
	white);
}

.page-body>.container {
	background: white;
}

.float-prompt {

	position: absolute;
	left: 50%;
	top: 20px;
	z-index: 100;
	width: 60vw;
}

.float-prompt>* {
	text-align: initial;
	position: relative;
	left: -50%;
	display: none;
}

.alert hr {
	margin: 0.5rem 0;
}





/* use in viewing form input error*/

.invalid-feedback {
	display: inline-block;
}

.footer {
	/*-webkit-filter: drop-shadow(-5px 1px 10px gray);
	filter: drop-shadow(-5px 1px 8px gray);*/
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #B2B2B2FF;
}

.footer-copyright {
	padding-top: 25px;
	padding-bottom: 20px;
	text-align: left;
	color: white;
	font-weight: 500;
	font-size: 1.3rem;
}
